# Spring Boot
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.jar
!**/src/test/resources/*.jar

# IDEs
.vscode/
.idea/
*.swp
*.iml
*.iws

# Sensitive Data
.env
.env.*
! .env.example

# OS
.DS_Store
Thumbs.db

# Maven
mvnw
mvnw.cmd
.mvn/

# Node (Frontend)
node_modules/
dist/
dist-ssr/
*.local
